# Lab | Hypothesis Testing

#### Instructions:

It is assumed that the mean systolic blood pressure is Î¼ = 120 mm Hg. In the Honolulu Heart Study, a sample of n = 100 people had an average systolic blood pressure of 130.1 mm Hg with a standard deviation of 21.21 mm Hg. Is the group significantly different (with respect to systolic blood pressure!) from the regular population?

- Set up the hypothesis test.

In [1]:
# What's the probability that the mean of the sample, stated by the Honolulu Heart Study (130.1 mm/Hg),
# comes from a population with average blood pressure of 120 mm/Hg?

# The Null hypothesis (H0) here is: mean_blood_pressure(population) = 120 mm/Hg.
# The Alternative hypothesis (HA) is: mean_blood_pressure(sample) != 120 mm/Hg.
# We have a two tailed test.

- Write down all the steps followed for setting up the test.

In [2]:
# 1. We compute the test statistic.
# 2. We set a confidence level. Convention states 95% as acceptable.
# 3. We compute the critical value of the corresponding distribution (We have to use the t-student distribution because we don't have the standard deviation of the population.)
# 4. We compare the test statistic with the critical value.

- Calculate the test statistic by hand and also code it in Python. It should be 4.76190. What decision can you make based on this calculated value?

In [3]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import math # importing the necessary libraries

In [4]:
mean_bp_pop = 120
mean_bp_sample = 130.1
stdev_sample = 21.21
sample_size = 100
degrees_fred = sample_size - 1

z = (mean_bp_sample - mean_bp_pop)/(stdev_sample/math.sqrt(sample_size))
print(z)

critical_value = stats.t.ppf(1-(0.05/2), df=degrees_fred)
print(critical_value)

4.761904761904759
1.9842169515086827

In [5]:
# Considering that the result for the sample is above the critical value, our null hypothesis can be rejected.

### Optional

In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file Data/machine.txt. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other.

Hint: use two sample t-test

t= (sample_mean(x1) - sample_mean(x2)) / sqrt(square(s1)/n1 + square(s2)/n2 )

In [6]:
df = pd.read_csv("Data_Machine.txt", sep = "\t")

df

   New Machine  Old Machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5
5         42.8         43.5
6         43.2         43.1
7         42.3         41.7
8         41.8         44.0
9         42.7         44.1

In [7]:
new = [df["New Machine"]]
new_mean = np.mean(new)
new_stdev = np.std(new)

print(new_mean)
print(new_stdev)

42.14
0.6483826030978941

In [8]:
old = [df["Old Machine"]]
old_mean = np.mean(old)
old_stdev = np.std(old)

print(old_mean)
print(old_stdev)

43.230000000000004
0.7114070564732956

In [9]:
t= (new_mean - old_mean)/math.sqrt(math.pow(new_stdev,2)/10 + math.pow(old_stdev, 2)/10)
print (t)

-3.5809955894645813